absl-py==0.2.2
aiodns==1.1.1
aiohttp==3.3.2
aniso8601==3.0.2
asn1crypto==0.24.0
astor==0.6.2
async-timeout==3.0.0
attrdict==2.0.0
attrs==18.1.0
bitmex-ws==0.3.1
bleach==1.5.0
btfxwss==1.2.1
cachetools==2.1.0
cchardet==2.1.1
ccxt==1.17.314
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==1.9
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
decorator==4.3.0
dill==0.2.8.2
en-core-web-lg==2.0.0
eth-abi==1.1.1
eth-account==0.2.3
eth-hash==0.1.4
eth-keyfile==0.5.1
eth-keys==0.2.0b3
eth-rlp==0.1.2
eth-utils==1.0.3
ftfy==4.4.3
gast==0.2.0
graphene==2.1.2
graphene-sqlalchemy==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
grpcio==1.12.1
h5py==2.8.0
hexbytes==0.1.0
html5lib==0.9999999
idna==2.7
idna-ssl==1.0.1
ijson==2.3
influxdb==5.0.0
int-date==0.1.8
iso8601==0.1.12
jsonify==0.5
jwt==0.5.3
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
kiwisolver==1.0.1
lru-dict==1.1.6
lxml==4.2.5
Markdown==2.6.11
matplotlib==2.2.2
mpl-finance==0.10.0
msgpack==0.5.6
msgpack-numpy==0.4.3.1
multidict==4.3.1
murmurhash==0.28.0
Naked==0.1.31
networkx==2.1
numexpr==2.6.8
numpy==1.14.5
oauthlib==2.1.0
pandas==0.23.4
parsimonious==0.8.0
plac==0.9.6
preshed==1.0.1
promise==2.1
protobuf==3.6.0
pycares==2.3.0
pycparser==2.18
pycryptodome==3.6.4
pyemd==0.5.1
pymongo==3.7.1
PyMySQL==0.8.1
pyparsing==2.2.0
Pyphen==0.9.5
pypiwin32==223
pyreadline==2.1
PySocks==1.6.8
python-dateutil==2.7.3
python-Levenshtein==0.12.0
pytz==2018.4
pywin32==223
PyYAML==3.12
pyzmq==17.1.2
redis==2.10.6
regex==2017.4.5
requests==2.19.1
requests-oauthlib==1.0.0
rlp==1.0.1
Rx==1.6.1
schedule==0.5.0
scikit-learn==0.19.1
scipy==1.1.0
shellescape==3.4.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
spacy==2.0.12
SQLAlchemy==1.2.8
stockstats==0.2.0
tables==3.4.4
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
textacy==0.6.2
thinc==6.10.3
toolz==0.9.0
tqdm==4.25.0
tushare==1.2.12
tweepy==3.6.0
typing==3.6.4
ujson==1.35
Unidecode==1.0.22
urllib3==1.23
wcwidth==0.1.7
web3==4.6.0
websocket-client==0.46.0
websockets==6.0
Werkzeug==0.14.1
wrapt==1.10.11
yarl==1.1.0
